#heading1,
#heading2,
#heading3,
#heading4 {
    position: absolute;
    left: 0px;
    opacity: 0;
    font-size: 92px;
    letter-spacing: .15em;
    text-shadow:
        1px -1px 0 #8f8e8d,
        -1px 2px 1px #949392,
        -2px 4px 1px #999897,
        -3px 6px 1px #9e9c9c,
        -4px 8px 1px #a3a1a1,
        -5px 10px 1px #a8a6a6,
        -6px 12px 1px #adabab,
        -7px 14px 1px #b2b1b0,
        -8px 16px 1px #b7b6b5,
        -9px 18px 1px #bcbbba,
        -10px 20px 1px #c1bfbf,
        -11px 22px 1px #c6c4c4,
        -12px 24px 1px #cbc9c8,
        -13px 26px 1px #cfcdcd,
        -14px 28px 1px #d4d2d1,
        -15px 30px 1px #d8d6d5,
        -16px 32px 1px #dbdad9,
        -17px 34px 1px #dfdddc,
        -18px 36px 1px #e2e0df;
}

#heading1 {
    color: red;
}

#heading2 {
    color: green;
}

#heading3 {
    color: blue;
}